@model IEnumerable<Pinkmeupkt.Models.Appointment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row container" style="margin: 0 auto">


    <table id="table" class="table">
        <thead>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.offer.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.startTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.startTimeString)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.bookTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.bookTimeString)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.isBooked)
                </th>
                <th></th>
            </tr>

        </thead>


        <tbody>



            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.offer.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.startTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.startTimeString)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.bookTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.bookTimeString)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.isBooked)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>

    </table>


</div>

@section Scripts{
    
    <script>
        $(document).ready(function () {
            $("#table").DataTable()
        })
    </script>
    
    } 
