@model Pinkmeupkt.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>

    <div>

        <table class="table" id="appointments">

            <thead id="head">
                
            </thead>

            <tbody id="body">
            </tbody>

        </table>

    </div>
    <div>
        <h4>Change your account settings</h4>
        <hr />

        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
            <dt>External Logins:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins") ]
            </dd>
            @*
                Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                Uncomment the following block after you have set up two-factor authentication
            *@
            @*
                <dt>Phone Number:</dt>
                <dd>
                    @(Model.PhoneNumber ?? "None")
                    @if (Model.PhoneNumber != null)
                    {
                        <br />
                        <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                        using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                        }
                    }
                    else
                    {
                        <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                    }
                </dd>
            *@
            <dt>Two-Factor Authentication:</dt>
            <dd>
                <p>
                    There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication.
                </p>
                @*@if (Model.TwoFactor)
                    {
                        using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Enabled
                            <input type="submit" value="Disable" class="btn btn-link" />
                            </text>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Disabled
                            <input type="submit" value="Enable" class="btn btn-link" />
                            </text>
                        }
                    }*@

            </dd>
        </dl>
    </div>
</main>


@section Scripts{

    <script>

        var user = "@User.Identity.Name"
        user = user.replace("@@", "#");
        console.log(user)
        var appointments = []
        var table = document.getElementById("appointments")
        var head = document.getElementById("head")
        var body = document.getElementById("body")

        $.ajax({
            type: "get",
            url: "/Appointments/RequestForUser/" + user,
            data: {
                user: user
            },
            success: function (res) {
                console.log(res)
                appointments = res
                //table.innerHTML = "";

                //table.innerHTML += "<thead> <tr><th>Тип на третман</th> <th>Датум</th> <th>Детали</th> </tr> </thead>"
                //table.innerHTML += "<tbody>"
                head.innerHTML = "<tr><th>Тип на третман</th> <th>Датум</th> <th>Детали</th> </tr>"
                for (var ind in res) {
                    body.innerHTML += `<tr> <td>${res[ind][0]}</td> <td>${res[ind][1]}</td> <td><a href="/Appointments/Details/${res[ind][2]}">Повеќе</a></td> </tr>`
                }

                //table.innerHTML += "</tbody>"

                //$(document).ready(function () {
                    $("#appointments").DataTable()
                //})

            },
            error: function (err) {
                console.log('error')
                console.log(err)
            }
        })

    </script>



        <script>
            //$(document).ready(function () {
            //    $("#appointments").DataTable()
            //})
        </script>

   
}  